In [23]:
####  CONNECTING WITH DIFFERENT DATABASES
##SQlite( comes with python)

import sqlite3

connect =sqlite3.connect('database.db')

cursor = connect.cursor()

cursor.execute(
    '''CREATE TABLE IF NOT EXISTS USERS(
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
        
        )'''
)

connect.commit()

In [24]:
# Inserting and retrieving

cursor.execute(
    "INSERT INTO users (name, age) VALUES (?,?)",
    ("John", 25)
)
connect.commit()

In [25]:
# Retrieving data
cursor.execute('SELECT * FROM users')
cursor.fetchall()
connect.close()

In [26]:
######## MYSQL  ########

import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="Semordzieric26@",
    database="student_database" 
    
)

cursor =conn.cursor()
conn.commit()

In [27]:
# Retrieving
cursor.execute("SELECT * FROM student")
cursor.fetchall()

[(10966901, 'Eric', 'Sena', datetime.date(2002, 12, 1), 'M', '0595510537'),
 (10964321,
  'Isaac',
  'Semordzi',
  datetime.date(2012, 11, 11),
  'F',
  '0593410537')]