In [2]:
print('hello  world')

hello  world

In [3]:
# Square
def square(num):
    return num**2

square(4)

16

In [4]:
# for more parameter
def squares(num, to_sqare):
    return num**to_sqare

squares(3,3)

27

In [5]:
# a tuple where values are powers of each other
def fxn_square(val1,val2):
    r1 = val1**val2
    r2 = val2**val1
    
    return (r1,r2)

fxn_square(3,2)

(9, 8)

In [6]:
# Nested functions
def model_plus5(x1,x2,x3):
    def inner(x):
        return x%2 +5
    return inner(x1,), inner(x2), inner(x3)
model_plus5(2,3,4)

(5, 6, 5)

In [7]:
# flexible arguments, when amount of argument is unknown
def sum_all(*args):
    sum = 0
    for i in args:
        sum +=i
    return sum
sum_all(4,3,2,4,5,6,5,5)

34

In [8]:
# add default argument
def mul(x, poww =5):
    return x**poww
mul(4)

1024

In [9]:
#LAMBDA FUNCTIONS
# to raise power 
to_power = lambda x,y: x**y
to_power(3,2)

9

In [12]:
# Anonymous functions : mapped and apply function to all element in the sequence
nums = [2,3,5,6,7,9]
all_squared = map(lambda num: num**2, nums)
print(list(all_squared))

[4, 9, 25, 36, 49, 81]

In [15]:
new_num =[31,238,43]
modle_5 = map(lambda num: num%2 +5, new_num)
list(modle_5)

[6, 5, 6]

In [19]:
# function to return square root of a number
def square_root(inp):
    return inp**(0.5)
square_root(10)

3.1622776601683795

In [25]:
# Errors and exceptions
def sqroot(nu):
    #value must 
    if nu<0:
        raise ValueError('Input must be non-negative')
    try:
        return nu**(0.5)
    except TypeError:
        return 'input must be float or int'
sqroot(-3)

ValueError: Input must be non-negative